@media (max-width: 1275px) {
    .headline {
        gap: 16px;
        position: relative;
        min-width: 0;
    }

    h1 {
        font-size: 48px;
    }

    .subheadline {
        font-size: 20px;
    }

    .welcome-msg {
        font-size: 32px;
    }

    .username-field {
        font-size: 48px;
    }

    .dashboard {
        width: 564px;
    }

    .kpi-card {
        width: 224px;
    }

    .deadline-card {
        width: 480px;
    }

    .task-summary-card {
        width: 140px;
    }
}

@media (max-width: 1060px) {
    .dashboard {
        width: 500px;
    }

    .card-value {
        font-size: 60px;
    }

    .kpi-card {
        width: 200px;
    }

    .kpi-container {
        gap: 24px;
    }

    .deadline-card {
        width: 432px;
    }

    .task-summary {
        gap: 24px;
    }

    .task-summary-card {
        width: 124px;
    }

}


@media (max-width: 1024px) {
    main {
        padding-top: 96px;
        padding-bottom: 24px;
    }

    .header-separating-line-v {
        height: 50px;
    }

    .wrapper {
        padding: 0 24px;
    }

    .dashboard {
        max-width: 760px;
    }

    .headline {
        justify-content: flex-start;
        margin-top: 16px;
    }

    h1 {
        font-size: 36px;
    }

    .subheadline {
        font-size: 18px;
    }

    .kpi-card {
        width: 200px;
        height: 130px;
    }

    .card-icon {
        width: 56px;
        height: 56px;
    }

    .card-value {
        font-size: 56px;
    }

    .deadline-card-left img {
        width: 56px;
        height: 56px;
    }

}
